<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load static %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'qr_bar_decoder/js/vendor/jquery.fixedheadertable.min.js' %}"></script>
    <title>START</title>
</head>
<body>
	<div>
		<button id="trigger">START</button>
	</div>
	<div></div>
	{{ section_id }}
	{{ items }}
	{{ products }}
	<script>
		// const buttonTexts = ["START", "STOP"]
		$("#trigger").click(function() {
			// const buttonText = $(this).text()
			// const index = buttonTexts.findIndex(function (text) {
			// 	return text === buttonText
			// })
			// $(this).html(buttonTexts[1 - index])

			$(this).html($(this).text() === "START" ? "STOP" : "START")
		})
	</script>
</body>
</html>
